<div class="flex justify-center">
    <div class="w-11/12 flex justify-start flex-wrap gap-3 gap-y-7 p-5 pt-24 pb-14">
        <div
            class="flex flex-col self-start border-b-2 border-solid border-white w-56" 
            [routerLink]="['/shows', show.id]"
            *ngFor="let show of shows">
            <img 
                [src] = "'https://image.tmdb.org/t/p/w500' + show.poster_path" 
                alt="{{show.title}}"
                class="rounded-lg hover:border-solid hover:border-2 hover:border-bg-white hover:cursor-pointer hover:scale-150 hover:relative hover:z-20 transition-[filter] duration-200 ease-linear"
                (mouseenter)="onMouseEnter(show)"
                (mouseleave)="onMouseLeave()"
                [class.grayscale]="hoveredShow && show !== hoveredShow">
            <p>{{show.name}}</p>
        </div>
    </div>
</div>
