<div class="min-h-svh bg-blue-950">
  <div class="w-full border-b-2 border-solid border-white flex items-center">
    <p class="font-medium tracking-wide text-2xl p-5 hover:cursor-pointer" routerLink="/">Movie Database</p>
    <p class="font-medium p-5 border-l border-dashed border-white hover:bg-blue-900 hover:cursor-pointer" routerLink="/movies">Movies</p>
    <p class="font-medium p-5 border-l border-dashed border-white hover:bg-blue-900 hover:cursor-pointer" routerLink="/shows">TV shows</p>
    <p class="font-medium p-5 border-l border-dashed border-white hover:bg-blue-900 hover:cursor-pointer" routerLink="/actors">Actors</p>
  </div>

  <router-outlet></router-outlet>
</div>
